
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.logo{
    padding-top: 10px;
    height: 100px;
    width: 90px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 55px;
}
.navbar ul{
    display: flex;
    gap: 150px;
}
.navbar ul li{
    gap: 50px;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 25px;
}
.navbar ul li a:hover{
    color: #794422;
}

/* ---------------BANNER------------------- */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 55px;
    gap: 250px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.banner-left h1{
    font-size: 75px;
    font-weight: bold;
    text-transform:uppercase;
    padding-right: 20px;
    margin-top: 30px;
}
.banner-left h1 span{
    color: #794422;
}
.banner-left p{
    font-size: 22px;
    margin: 30px 0 45px 0;
    color: rgb(170, 168, 168);
}
.banner-left button{
    padding: 5px 30px;
    background-color:#794422;
    border-radius: 15px
}
.banner-left button a{
    font-size: 40px;
    text-decoration: none;
    color: white;
}
.banner-right{
    margin-right: 60px;
}

/*  --------------- BANNER-------------- */

.banner1 h1{
    margin:0 50px 80px 50px;
    text-align: center;
    font-size: 55px;
}
.banner1-main{
    display: flex;
    margin: 0  55px;
    gap: 70px;
}
.banner1-right p{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 40px;
    color: rgb(170, 168, 168);
}
.banner1-right button{
    padding: 5px 30px;
    background-color:#794422;
    border-radius: 15px
}
.banner1-right button a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.banner1-left{
    margin-top: 40px;
}

/* ---------------------SERVICES----------------- */
.service h1{
    text-align: center;
    font-size: 55px;
    margin-top: 100px;
}
.service-main{
    display: flex;
    gap: 130px;
    margin: 70px 55px;
}
.card{
    justify-content: space-between;
    align-items:center ;
    width: 30%;
    border-radius: 25px;
    /* border: 1px solid gray; */
    box-shadow: 1px 1px 8px gray;
    background-color:rgb(249, 244, 244) ;
}
.card h2{
    margin: 10px;
    text-align: center;
}
.card p{
    text-align: center;
    color: rgb(170, 168, 168);
    font-size: 18px;
}
.card img{
    width: 405px;
}

/* --------------------BANNER3------------------  */

.banner-left3{
    margin-bottom: 80px;
}
.banner-left3 h1{
    
    text-align: left;
}
.banner-left3 button{
   
    border-radius: 30px;
    padding: 10px 20px; 
  background-color: white;
}
.banner-left3 button a{
    text-decoration: none;
    color:#794422;
    background-color: white;
    font-size: 25px;
}
.banner3{
    margin-top: 0;
    gap: 150px;
    background-color: #966f56;
}
.banner-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 55px 50px 55px;
    gap: 250px;  
   
}
.banner-right3 img{
    height: 500px;
}

/* ------------------------------Aboutus--------------------- */

.about-main{
    display: flex; 
    gap: 200px;
    width: 100%;
   margin: 0 55px 0 55px;
}
.item{
    justify-content: space-between;
    align-items:center ;
    width: 40%;
    text-align: left;
    margin-bottom: 55px;
}
.item p{
    color: rgb(170, 168, 168);
    font-size: 22px;
    font-weight: bold;
}
.about h1{
    margin-bottom: 55px;
}
.item h2{
    margin-bottom: 10px;
}

/* ------------------------CONTACT------------------- */

.contact{
    text-align: center;
    background-color: #966f56;
    padding-bottom: 20px;
}
.input{
    width: 730px;
    height: 80px;
    padding: 10px 8px;
    border: 2px sold #794422;
    display: flex;
    background-color:#966f56 ;
   margin-left: 390px;
   border-radius: 20px;
   background-color: #794422;
   gap: 200px;
}
input{
    width:400px ;
    padding: 18px 20px;
    font-size: 25px;
   background-color: #794422;
   color: white;
   border: none;
}
.input button{
    background-color: white;
    padding: 8px 28px;
    border-radius: 0 20px 20px 0;
    border: none;
}
.input button a{
    font-size:25px;
    text-decoration: none;
    color: #794422;
}
.contact p{
    color: rgb(170, 168, 168);
    font-size: 18px;
    width: 500px;
    text-align: center;
    margin-left: 500px;
    margin-top: 15px;
    margin-bottom: 25px;
}

/* --------------------  FOOTER--------------------- */

footer{
    display: flex;
    justify-content: space-between;
    padding: 100px 55px 100px 55px;
    gap: 100px;
    margin-top: 100px;
    background-color: #794422;
    color: white;
}
footer h2{
    padding-bottom: 15px;
}
.Container{
    display: flex;
    gap: 200px;
}
.contain ul li{
    list-style: none;
    padding-bottom: 15px;
}
.foot p{
    color: rgb(170, 168, 168);
    font-size: 18px;
    text-align: left;
}

.copy{
    display: block;
    background-color: #794422;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}


@media  screen and (max-width: 700px){
   
    
    .humburger{ 
        display: block;
        padding-right: 1.5rem; 
        cursor: pointer; 
    } 
    
    .humburger .line{ 
    display: block; 
    width:2.5rem; 
    height: 2px; 
    margin-bottom: 10px; 
    background-color: black; 
    cursor: pointer; 
    } 
     
   .navbar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 340px;
        right: 0;
        width: 30vw;
        background-color: #794422;
        transition: 0.2s;
        overflow: hidden;
        margin-right: 20px;
   }
   .navbar.active{
    height: 330px;
}
   .navbar ul{
    /* padding-left: -28px; */
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        line-height: 30px;
        opacity: 0;
   }
   .navbar ul.active{
    opacity: 1;
   }
   .navbar ul li{
    line-height: 50px;
   }
   .navbar ul li a{
        color: white;
   }
   .navbar ul li a:hover{
        font-size: 30px;
        color: white;
   }
    .banner{
        flex-direction: column;
        gap: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .banner3{
        margin-left: 0;
        margin-right: 0;
    }
    .banner-main{
        flex-direction: column;
        gap: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .banner-left{
        width: 100%;
    }
    .banner-right{
        width: 100%;
    }


    .service-main{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        margin-left: 0;
        margin-right: 0;
    }
    .card{
        width: 100%;
    }
    .about-main{
        flex-direction: column;
        gap: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .about{
        margin-left: 0;
        margin-right: 0;
    }
    .item{
        width: 100%;
    }

    .contact p{ 
        margin-left: 0;
    }
    .input{
        margin-left: 0;
        width: 530px;
    }
    input{
        width: 200px;
    }

    footer{
        margin-left: 0;
        margin-right: 0;
    }
}

@media  screen and (max-width: 900px){
     
    
    .humburger{ 
        display: block;
        padding-right: 1.5rem; 
        cursor: pointer; 
    } 
    
    .humburger .line{ 
    display: block; 
    width:2.5rem; 
    height: 2px; 
    margin-bottom: 10px; 
    background-color: black; 
    cursor: pointer; 
    } 
    
   .navbar{
        height: 0;
        position: absolute;
        top: 80px;
        width: 60%;
        left:340px;
        right: 0; 
        width: 50vw;
        background-color: #794422;
        transition: 0.2s;
   }
   .navbar.active{
        height: 330px;
   }
   .navbar ul{
    padding-left:-48px;
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: right;
    transition: 0.5s;
    line-height: 30px;
    opacity: 0.4;
}
.navbar ul.active{
    opacity: 1;
}
.navbar ul li{
    line-height: 50px;
}
.navbar ul li a{
    color: white;
   
}
.navbar ul li a:hover{
    font-size: 30px;
    font-weight: bold;
    color:black;
}
    
    .banner{
        flex-direction: column;
        gap: 0;
        margin-left: 55px;
        margin-right: 0;
    }
    .banner-main{
        flex-direction: column;
        gap: 0;
    }
    .banner-left{
        width: 100%;
    }
    .banner-right{
        width: 100%;
    }


    .banner1-main{
        flex-direction: column;
        gap: 0;
    }
    .banner1 h1{
        font-size: 45px;
    }
    .banner1-left{
        width: 100%;
        margin-right: 55px;
    }
    .banner1-right{
        width: 100%;
    }

    .service-main{
        flex-direction: column;
        gap: 20px;
        margin-left: 55px;
        margin-right: 55px;
    }
    .card{
        width: 100%;
        margin-left: 55px;
        margin-right: 55px;
    }
    .card img{
        width: 100%;
    }

    .about-main{
        flex-direction: column;
        gap: 0;
    }
    .item{
        width: 100%;
    }

    .contact p{ 
        margin-left: 0;
    }
    .input{
        margin-left: 0;
        width: 530px;
    }
    input{
        width: 200px;
    }

    footer{
        width: 100%;
    }
    .Container{
        width: 100%;
        flex-direction: column;
    }
}

@media  screen and (max-width: 1100px){
    header{
        width: 100%;
    }
    
    .banner{
        flex-direction: column;
        gap: 0;
    }
    .banner-main{
        flex-direction: column;
        gap: 0;
    }
    .banner-left{
        width: 100%;
    }
    .banner-right{
        width: 100%;
    }


    .banner1-main{
        flex-direction: column;
        gap: 0;
    }
    .banner1-left{
        width: 100%;
    }
    .banner1-right{
        width: 100%;
    }

    .service-main{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }
    .card{
        width: 100%;
    }

    .about-main{
        flex-direction: column;
        gap: 0;
    }
    .item{
        width: 100%;
    }

    .contact p{ 
        margin-left: 0;
    }
    .input{
        margin-left: 0;
        width: 530px;
    }
    input{
        width: 200px;
    }
}


@media  screen and (max-width: 1300px){
    header{
        width: 100%;
    }
    
    .banner{
        flex-direction: column;
        gap: 0;
    }
    .banner-main{
        flex-direction: column;
        gap: 0;
    }
    .banner-left{
        width: 100%;
    }
    .banner-right{
        width: 100%;
    }
    .banner1-main{
        flex-direction: column;
        gap: 0;
    }
    .banner1-left{
        width: 100%;
    }
    .banner1-right{
        width: 100%;
    }

    .service-main{
        flex-direction: column;
        flex-wrap: wrap;
        gap:20px;
    }
    .card{
        width: 100%;
    }

    .about-main{
        flex-direction: column;
        gap: 0;
    }
    .item{
        width: 100%;
    }
}

